API_SECRET=yKM3V3YL6aF4RrRIcDPIfhVgzPXfK5yj
TOKEN_TTL=3600

FRONTEND_URL=http://localhost:3000

PORT=3001

ALLOWED_ORIGINS=http://localhost:3000

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/core
REDIS_URL=redis://default@localhost:6379

BETTER_AUTH_SECRET=yKM3V3YL6aF4RrRIcDPIfhVgzPXfK5yj
BETTER_AUTH_URL=http://localhost:3001


RESEND_API_KEY=
RESEND_FROM_EMAIL=onboarding@resend.dev

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

JWT_PRIVATE=
JWT_PUBLIC=
