API_SECRET=yKM3V3YL6aF4RrRIcDPIfhVgzPXfK5yj
TOKEN_TTL=3600

FRONTEND_URL=http://localhost:3000

PORT=3001

ALLOWED_ORIGINS=http://localhost:3000

SMTP_URL=smtp://localhost:1025
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/core
REDIS_CACHE_URL=rediss://default@localhost:6379/0
REDIS_QUEUE_URL=rediss://default@localhost:6379/1
REDIS_THROTTLE_URL=rediss://default@localhost:6379/2

REDIS_URL=redis://default@localhost:6379

RESEND_API_KEY=
RESEND_FROM_EMAIL=onboarding@resend.dev
SMTP_FROM_EMAIL=noreply@mailhog.com

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=http://localhost:3001/api/core/v1/auth/oauth/callback/github

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3001/api/core/v1/auth/oauth/callback/google

JWT_PRIVATE=
JWT_PUBLIC=
